.section_title {
    padding-top: 120px;
    text-align: center;
}

.section_title h2 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.6rem;
}

.section_title p {
    font-size: 2rem;
    line-height: 1.6;
}

section.content {
    overflow: hidden;
    padding: 60px 30px;
    box-sizing: border-box;

}

.second {
    opacity: 0;
}

.third {
    opacity: 0;
}

.upmove {
    animation: upMove 1s both;
}

@keyframes upMove {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

section.content img {
    float: left;
    width: 50%;
}

section.content .text {
    float: left;
    width: calc(50% - 6rem);
    padding: 6rem 3rem;
}

section.content .text h3 {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.4;
}

section.content .text p {
    font-size: 2.4rem;
    line-height: 1.6;
}

@media screen and (max-width: 1230px) {

    body,
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 788px) {
    .section_title {
        padding-top: 60px;
    }


    section.content {
        /* padding: 30px; */
    }

    section.content img {
        float: none;
        width: 100%;
    }

    section.content .text {
        float: none;
        width: 100%;
        padding: 3rem 0rem;
    }
}