.swiper-slide {
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.swiper-slide .text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-size: 3rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 30px;
}

.swiper-slide .text .title {
    font-size: 4rem;
    font-weight: bold;
}

.swiper-slide .text .sub {
    font-size: 2.4rem;
}